


.mobile h1 {
  display: flex;
  width: 80%;
  margin: auto;
  font-size: 30px;
  color: FireBrick;
  text-align: center;
}

.mobile h2 {
  display: block;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
  padding: 0;
  margin:0;
  padding-bottom: 5px;
}

.mobile h3 {
  display:flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 13px;
  width: 80%;
}

.mobile a {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.mobile ul {
  padding: 0;
  margin: 0;
}
.mobile .banner {
  display: block;
  margin: auto;
  width: 95%;
  height: auto;
}

.mobile .logo {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
.mobile .Section {
  display: block;
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
}
